$entree : blue;
$viande:rgb(142, 68, 173,0.7);
$dessert : rgb(234, 134, 133,0.7);
$salade :rgb(76, 209, 55,0.7);
$soupe:rgb(225, 177, 44,0.7);


.entrees {
    color : $entree;
}
.entrees_titre {
    background-color : $entree;
}
.entrees li:before {
    background : $entree;
}
.entrees li:after {
    border-left-color:$entree;
}
.soupes {
    color : $soupe;
}
.soupes_titre {
    background-color : $soupe;
}
.soupes li:before {
    background : $soupe;
}
.soupes li:after {
    border-left-color:$soupe;
}


.viande {
    color : $viande;
}
.viande_titre {
    background-color : $viande;
}
.viande li:before {
    background : $viande;
}
.viande li:after {
    border-left-color:$viande;
}
.dessert {
    color:$dessert;
    fill:$dessert;
}
.dessert_titre {
    background-color:$dessert;
}

.dessert li:before {
    background : $dessert;
}

.dessert li:after {
    border-left-color:$dessert;
}
.salades {
    color:$salade;
}
.salades_titre {
 background-color:$salade;
}
.salades li:before {
    background : $salade;
}
.salades li:after {
    border-left-color:$salade;
}






@font-face {
    font-family: 'cake';
    src:       url('cake.ttf')  format('truetype');
  }