@charset "UTF-8";
.bg {
  text-align: center;
}

.bg .soupes {
  background-image: url(/images/soup.jpg?2c5d8e10158f64fabe8aae4ae85ad9d4);
}

.bg .viande {
  background-image: url(/images/viande.webp?2c077fde163b5353853cacae8e5842ad);
}

.bg .dessert {
  background-image: url(/images/dessert.jpg?cf4877fa4964d30e5dea458e9c7d67a9);
}

.bg .salades {
  background-image: url(/images/salade.webp?1ee2be9471558744226ba3a690d4119a);
}

.bg .plats {
  background-image: url(/images/plats.webp?fb4d70f7b17c6e29773dc2b1310ad817);
}

.bg .entrée {
  background-image: url(/images/entree.jpeg?250d39b0c5a309ccb0afa98ab6dde484);
}
